<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap" style="padding-left: 0.5em;">

            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Thay đổi mật khẩu</h2>
                    </div>
                </div>
                <!-- section title -->
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-left: 1em;">
                    {{#if msg}}<div class="alert alert-success" align="center">{{msg}}</div>{{/if}}
                    <form class="form" action="/account/{{account.ID}}/password/edit" method="post">
                        <div class="form-group" style="margin-top: 1em;">
                            <label for="username">
                                <h4>Tên đăng nhập</h4>
                            </label>
                            <input type="text" class="form-control" id="username" value="{{account.USERNAME}}" disabled>
                        </div>

                        <div class="form-group" style="margin-top: 1em;">
                            <label for="new_password">
                                <h4>Mật khẩu mới</h4>
                            </label>
                            <input type="password" class="form-control" name="new_password" id="new_password" value="" required>
                        </div>

                        <div class="form-group">
                            <label for="confirm_new_password">
                                <h4>Xác nhận mật khẩu</h4>
                            </label>
                            <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" value="" required/>
                        </div>

                        <div class="form-group">
                            <label for="old_password">
                                <h4>Mật khẩu cũ</h4>
                            </label>
                            <input type="password" class="form-control" name="old_password" id="old_password" value="" required/>
                        </div>
                        {{#if error}}<div class="alert alert-danger" id="error" align="center">{{error}}</div>{{/if}}
                        <div class="form-group">
                            <div class="col-xs-3" style="margin-bottom: 20px">
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Lưu thay đổi</button>
                            </div>
                            <div class="col-xs-3" style="margin-bottom: 20px">
                                <a href="/account/{{account.ID}}/profile"><button type="button" class="btn btn-lg btn-success"><i class="fas fa-times"></i>
                                    Hủy thay đổi</button></a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!-- /home wrap -->
</div>
<!-- /container -->
</div>