








<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Trang chủ</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Category</a></li>
			<li class="active">{{pro.PRODUCT_NAME}}</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">
				<div class="col-md-6">
					<div id="product-main-view">
						{{#each img}}
						<div class="product-view">
							<img src="/images/product/{{HASH_NAME}}" alt="">
						</div>
						{{/each}}
					</div>
					<div id="product-view">
						{{#each img}}
						<div class="product-view">
							<img src="/images/product/{{HASH_NAME}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						{{!-- <div class="product-label">
							<span>New</span>
							<span class="sale">-20%</span>
						</div> --}}
						{{!-- <h2 class="product-name">{{pro.NAME}}</h2>
						<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
						<div>
							<a href="#">3 Review(s) / Add Review</a>
						</div> --}}
						<p><strong>Giá khởi điểm: </strong> {{pro.START_PRICE_VND}} VNĐ</p>
						<p><strong>Bước giá: </strong> {{pro.BIDDING_PRICE_VND}} VNĐ</p>
						<p><strong>Giá hiện tại:</strong> {{pro.CURRENT_PRICE_VND}} VNĐ</p>
						<p><strong>Giá mua ngay: </strong> {{pro.BUYNOW_PRICE_VND}} VNĐ</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Đấu giá sản phẩm</a></li>
							<li><a data-toggle="tab" href="#tab2">Mô tả sản phẩm</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								nothing
							</div>
							<div id="tab2" class="tab-pane fade in">
								{{{pro.DESCRIPTION}}}
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Đề xuất cho bạn</h2>
				</div>
			</div>
			</div>
			<div class="row">
			<!-- section title -->
			{{#each ps}}
			<!-- Product Single -->
			<div class="col-md-3">
				<div class="product product-single">
					<div class="product-thumb">
						<ul class="product-countdown">
							<li><span>{{HOURS}} H</span></li>
							<li><span>{{MINUTES}} M</span></li>
							<li><span>{{SECONDS}} S</span></li>
						</ul>
						<a href="/product/{{ID}}"><button class="main-btn quick-view"><i class="fas fa-search-plus"></i>
								Xem chi tiết</button></a>
						<img src="/images/product/{{imgSrc.HASH_NAME}}" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
						<h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
						<div class="product-btns">
							<form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}" method="GET">
								<input type="hidden" name="proID" value="{{ID}}">
								<input type="hidden" name="userID" value="{{../user.ID}}">
								<button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Single -->
			{{/each}}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->