<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Trang chủ</a></li>
			<li class="active">{{pro.PRODUCT_NAME}}</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">
				<div class="col-md-6">
					<div id="product-main-view">
						{{#each img}}
						<div class="product-view">
							<img src="/images/product/{{HASH_NAME}}" alt="">
						</div>
						{{/each}}
					</div>
					<div id="product-view">
						{{#each img}}
						<div class="product-view">
							<img src="/images/product/{{HASH_NAME}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						<div class="product-label">
							<span>{{pro.remain}}</span>
							{{#if pro.isNew}}<span>Mới</span>{{/if}}
							{{#if pro.AUTO_FLAG}}
							<span class="sale">Tự động</span>
							{{/if}}							
						
						</div>
						<h2 class="product-name">{{pro.PRODUCT_NAME}}</h2>
						{{!-- <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
						<div>
							<a href="#">3 Review(s) / Add Review</a>
						</div> --}}
						<!--LIKE-->
						<p><strong>Bắt đầu: </strong> {{pro.start_format}}
						<p><strong>Kết thúc: </strong> {{pro.end_format}}
						{{#if user}}
						<form action="/account/{{user.ID}}/watch_list" method="POST">
							<input type="hidden" name="proID" value="{{pro.ID}}">
							<button type="submit" id="likebutton" class="main-btn icon-btn"><i class="fa fa-heart"
									title="Thêm vào danh sách yêu thích"></i></button>
						</form>
						{{/if}}
						<hr>
						<h4>Giá hiện tại: {{pro.CURRENT_PRICE_VND}} VNĐ</h4>
						{{#if pro.BUYNOW_FLAG}}<h3>Giá mua ngay: {{pro.BUYNOW_PRICE_VND}} VNĐ</h3>{{/if}}
						<p><strong>Bước giá: </strong> {{pro.BIDDING_PRICE_VND}} VNĐ</p>
						<p><strong>Giá khởi điểm: </strong> {{pro.START_PRICE_VND}} VNĐ</p>
						<p><strong>Người đăng: </strong> <a href="/account/{{seller.ID}}">{{seller.FULL_NAME}}</a></p>
						<p><strong>Người đang giữ giá: </strong> <a href="{{#if bidder}}/account/{{bidder.ID}}{{else}}#{{/if}}">{{#if bidder}}{{bidder.FULL_NAME}}{{else}}Hiện chưa ai đấu giá.{{/if}}</a></p>
						{{!-- <p><strong>Loại đấu giá: </strong> {{#if pro.AUTO_FLAG}}<b>Tự động</b>{{else}}Thông thường{{/if}}</p> --}}
						<p><strong>Ngày đăng: </strong> {{pro.post_format}}
						<hr>
						<!--BIDDING-->

						{{!-- BASIC --}}
						<form action="/bidding/{{pro.ID}}" method="POST" onsubmit="return checkGia();">
							<div class="form-group">
								<label for="inputMoney">
									<h4>{{#if pro.AUTO_FLAG}}Giá tối đa{{else}}Giá đặt{{/if}}</h4>
								</label>
								<input type="text" class="form-control" name="inputMoney" id="inputMoney"
									value="{{GiaHeThong}}">
							</div>
							<input type="hidden" value="{{GiaHeThong}}" name="giahethong" id="giahethong">
							<input type="hidden" value="{{pro.CURRENT_PRICE}}" id="current_price">
							<input type="hidden" value="{{pro.BIDDING_INCREMENT}}" name="buocgia" id="bidding_increment">
							<input type="hidden" value="{{pro.ID}}" name="proid">
							<input type="hidden" value="{{#if user}}{{user.ID}}{{else}}0{{/if}}" id="user_id" name="userid">
							<button class="btn btn-success" type="submit">Đấu giá</button>
						</form>

						{{!-- AUTO --}}
						<form action="/bidding/auto/{{pro.ID}}" method="POST" onsubmit="return checkGiaAuto();">
							<div class="form-group">
								<label for="inputMoney">
									<h4>{{#if pro.AUTO_FLAG}}Giá tối đa{{else}}Đấu giá Auto{{/if}}</h4>
								</label>
								<input type="text" class="form-control" name="inputMoneyAuto" id="inputMoneyAuto"
									value="{{GiaHeThong}}">
							</div>
							<input type="hidden" value="{{GiaHeThong}}" name="giahethong" id="giahethong">
							<input type="hidden" value="{{pro.CURRENT_PRICE}}" id="current_price">
							<input type="hidden" value="{{pro.BIDDING_INCREMENT}}" name="buocgia" id="bidding_increment">
							<input type="hidden" value="{{pro.ID}}" name="proid">
							<input type="hidden" value="{{#if user}}{{user.ID}}{{else}}0{{/if}}" id="user_id" name="userid">
							<button class="btn btn-success" type="submit">Đấu giá</button>
						</form>

					</div>

				</div>
			</div>
			<div class="col-md-12">
				<div class="product-tab">
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Đấu giá sản phẩm</a></li>
						<li><a data-toggle="tab" href="#tab2">Mô tả sản phẩm</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-6">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Thời điểm</th>
												<th>Người mua</th>
												<th>Giá (VND)</th>
											</tr>
										</thead>
										{{#each ph}}
										<tbody>
											<tr>
												<td>{{time}}</td>
												<td>{{bidderName}}</td>
												<td>{{price}}</td>
											</tr>
										</tbody>
										{{/each}}

									</table>
								</div>
							</div>

						</div>
						<div id="tab2" class="tab-pane fade in">
							{{{pro.DESCRIPTION}}}
							<hr>
							{{#ifEqual pro.SELLER_ID user.ID}}
							<a class="btn btn-primary"href="/product/{{pro.ID}}/edit">Thêm nội dung
							</a>
							{{/ifEqual}}
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Product Details -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Đề xuất cho bạn</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- section title -->
			{{#each ps}}
			<!-- Product Single -->
			<div class="col-md-3">
				<div class="product product-single">
					<div class="product-thumb">
						<ul class="product-countdown">
							<li><span>{{remain}}</span></li>
						</ul>
						<a href="/product/{{ID}}"><button class="main-btn quick-view"><i class="fas fa-search-plus"></i>
								Xem chi tiết</button></a>
						<img src="/images/product/{{imgSrc.HASH_NAME}}" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
						<h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
						{{#if ../user}}
						<div class="product-btns">
							<form action="/account/{{../user.ID}}/watch_list" method="POST">
								<input type="hidden" name="proID" value="{{ID}}">
								<button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							</form>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			<!-- /Product Single -->
			{{/each}}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->