
<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Trang chủ</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Category</a></li>
			<li class="active">{{cat}}</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- HOME -->
<div id="home">
    <div class="container">

        <div class="row">
            {{#each ps}}
            <!-- Product Single -->
            <div class="col-md-3">
                <div class="product product-single" style=" height:450px">
                    <div class="product-thumb">
                        <ul class="product-countdown">
                            <li><span>{{HOURS}} H</span></li>
                            <li><span>{{MINUTES}} M</span></li>
                            <li><span>{{SECONDS}} S</span></li>
                        </ul>
                        <a href="/product/{{ID}}"><button class="main-btn quick-view"><i class="fas fa-search-plus"></i>
                                Quick
                                view</button></a>
                        <img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
                        <h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
                        <div class="product-btns">
                            <form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}" method="GET">
                                <input type="hidden" name="proID" value="{{ID}}">
                                <input type="hidden" name="userID" value="{{../user.ID}}">
                                <button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {{/each}}
        </div>

    </div>
    <!-- /row -->

    {{!-- Paginationnnnnnnnnnnnnnnnnnn --}}
    <nav aria-label="Page navigation example" align="center">
        <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
                <a href="?page={{ navs.prev }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}

            {{#each pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a href="javascript:;" class="page-link">
                    {{value}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {{else}}
            <li class="page-item">
                <a href="?page={{value}}" class="page-link">
                    {{value}}
                </a>
            </li>
            {{/if}}
            {{/each}}

            {{#if navs.next}}
            <li class="page-item">
                <a href="?page={{ navs.next }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>

    </nav>
    {{!-- End Paginationnnnnnnnnnnnnnnnnnn --}}
</div>