<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav">
                <span class="category-header">Categories <i class="fa fa-list"></i></span>
                <ul class="category-list">
                    {{#each cats}}
                    <li><a href="/home/{{ID}}/categories">{{CAT_NAME}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Sales</a></li>
                    <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true">Pages <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="product-page.html">Product Details</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="/images/banner01.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h1>Bags sale</h1>
                        <h3 class="white-color font-weak">Up to 50% Discount</h3>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1">
                    <img src="/images/banner02.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50%
                                OFF</span></h1>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1">
                    <img src="/images/banner03.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="white-color">New Product <span>Collection</span></h1>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
<hr>

<!-- HOME -->
<div id="home">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">{{cat}}</h2>
                </div>
            </div>
            <!-- section title -->
        </div>

        <div class="row" style="">
            {{#each ps}}
            <!-- Product Single -->
            <div class="col-md-3">
                <div class="product product-single">
                    <div class="product-thumb">
                        <ul class="product-countdown">
                            <li><span>{{HOURS}} H</span></li>
                            <li><span>{{MINUTES}} M</span></li>
                            <li><span>{{SECONDS}} S</span></li>
                        </ul>
                        <a href="/home/{{ID}}/products"><button class="main-btn quick-view"><i
                                    class="fa fa-search-plus"></i> Quick
                                view</button></a>
                        <img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
                        <h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
                        <div class="product-btns">
                            <form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}" method="GET">
                                <input type="hidden" name="proID" value="{{ID}}">
                                <input type="hidden" name="userID" value="{{../user.ID}}">
                                <button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            </form>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add
                                to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {{/each}}
        </div>

    </div>
    <!-- /row -->

    {{!-- Paginationnnnnnnnnnnnnnnnnnn --}}
    <nav aria-label="Page navigation example" align="center">
        <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
                <a href="?page={{ navs.prev }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}

            {{#each pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a href="javascript:;" class="page-link">
                    {{value}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {{else}}
            <li class="page-item">
                <a href="?page={{value}}" class="page-link">
                    {{value}}
                </a>
            </li>
            {{/if}}
            {{/each}}

            {{#if navs.next}}
            <li class="page-item">
                <a href="?page={{ navs.next }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>

    </nav>
    {{!-- End Paginationnnnnnnnnnnnnnnnnnn --}}
</div>