<!-- NAVIGATION -->
<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- category nav -->
			<div class="category-nav">
				<span class="category-header">Danh mục <i class="fas fa-list"></i></span>
				<ul class="category-list">
					{{#each cats}}
					<li><a href="/category/{{ID}}">{{CAT_NAME}}</a></li>
					{{/each}}
				</ul>
			</div>
			<!-- /category nav -->

			<!-- menu nav -->
			<div class="menu-nav">
				<span class="menu-header">Menu <i class="fas fa-bars"></i></span>
				<ul class="menu-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Sales</a></li>
					<li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
							aria-expanded="true">Pages <i class="fas fa-caret-down"></i></a>
						<ul class="custom-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="products.html">Products</a></li>
							<li><a href="product-page.html">Product Details</a></li>
							<li><a href="checkout.html">Checkout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- menu nav -->
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				<!-- banner -->
				<div class="banner banner-1">
					<img src="/images/banner01.jpg" alt="">
					<div class="banner-caption text-center">
						<h1>Bags sale</h1>
						<h3 class="white-color font-weak">Up to 50% Discount</h3>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="/images/banner02.jpg" alt="">
					<div class="banner-caption">
						<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50%
								OFF</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="/images/banner03.jpg" alt="">
					<div class="banner-caption">
						<h1 class="white-color">New Product <span>Collection</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section-title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Deals Of The Day</h2>
					<div class="pull-right">
						<div class="product-slick-dots-1 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- /section-title -->

			<!-- banner -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="banner banner-2">
					<img src="/images/banner14.jpg" alt="">
					<div class="banner-caption">
						<h2 class="white-color">NEW<br>COLLECTION</h2>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
			</div>
			<!-- /banner -->

			<!-- Product Slick -->
			<div class="col-md-9 col-sm-6 col-xs-6">
				<div class="row">
					<div id="product-slick-1" class="product-slick">

						{{#each top5Price}}
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>{{HOURS}} H</span></li>
									<li><span>{{MINUTES}} M</span></li>
									<li><span>{{SECONDS}} S</span></li>
								</ul>
								<a href="/product/{{ID}}"><button class="main-btn quick-view"><i
											class="fa fa-search-plus"></i> Quick
										view</button></a>
								<img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">{{CURRENT_PRICE_VND}} VND
								</h3>
								<h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
								<div class="product-btns">
									<form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}"
										method="GET">
										<input type="hidden" name="proID" value="{{ID}}">
										<input type="hidden" name="userID" value="{{../user.ID}}">
										<button type="submit" class="main-btn icon-btn"><i
												class="fa fa-heart"></i></button>
									</form>
									<button class="primary-btn add-to-cart"><i class="fas fa-shopping-cart"></i> Add
										to Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
						{{/each}}

					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Deals Of The Day</h2>
					<div class="pull-right">
						<div class="product-slick-dots-2 custom-dots">
						</div>
					</div>
				</div>
			</div>
			<!-- section title -->
			<!-- Product Slick -->
			<div class="col-md-12 col-sm-6 col-xs-6">
				<div class="row">
					<div id="product-slick-2" class="product-slick">

						{{#each top5End}}
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>{{HOURS}} H</span></li>
									<li><span>{{MINUTES}} M</span></li>
									<li><span>{{SECONDS}} S</span></li>
								</ul>
								<a href="/product/{{ID}}"><button class="main-btn quick-view"><i
											class="fa fa-search-plus"></i> Quick
										view</button></a>
								<img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">{{CURRENT_PRICE_VND}} VND
								</h3>
								<h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
								<div class="product-btns">
									<form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}"
										method="GET">
										<input type="hidden" name="proID" value="{{ID}}">
										<input type="hidden" name="userID" value="{{../user.ID}}">
										<button type="submit" class="main-btn icon-btn"><i
												class="fa fa-heart"></i></button>
									</form>
									<button class="primary-btn add-to-cart"><i class="fas fa-shopping-cart"></i> Add
										to Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
						{{/each}}

					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->


<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Top 4 Price</h2>
				</div>
			</div>
			<!-- section title -->

			{{#each top5Price}}
			<!-- Product Single -->
			<div class="col-md-3">
				<div class="product product-single">
					<div class="product-thumb">
						<ul class="product-countdown">
							<li><span>{{HOURS}} H</span></li>
							<li><span>{{MINUTES}} M</span></li>
							<li><span>{{SECONDS}} S</span></li>
						</ul>
						<a href="/product/{{ID}}"><button class="main-btn quick-view"><i class="fas fa-search-plus"></i>
								Quick
								view</button></a>
						<img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
						<h2 class="product-name"><a href="#">{{PRODUCT_NAME}}</a></h2>
						<div class="product-btns">
							<form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}" method="GET">
								<input type="hidden" name="proID" value="{{ID}}">
								<input type="hidden" name="userID" value="{{../user.ID}}">
								<button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							</form>
							<button class="primary-btn add-to-cart"><i class="fas fa-shopping-cart"></i> Add
								to Cart</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Single -->
			{{/each}}

		</div>
		<!-- /row -->

		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Top 4 Nearly Finished</h2>
				</div>
			</div>
			<!-- section title -->

			{{#each top5End}}
			<!-- Product Single -->
			<div class="col-md-3">
				<div class="product product-single">
					<div class="product-thumb">
						<ul class="product-countdown">
							<li><span>{{HOURS}} H</span></li>
							<li><span>{{MINUTES}} M</span></li>
							<li><span>{{SECONDS}} S</span></li>
						</ul>
						<a href="/product/{{ID}}"><button class="main-btn quick-view"><i class="fas fa-search-plus"></i>
								Quick
								view</button></a>
						<img src="/images/product/{{imgSrc.HASH_NAME}}" height="230px" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-price">{{CURRENT_PRICE_VND}} VND</h3>
						<h2 class="product-name"><a href="#">{{PRODUCT_NAME:}}</a></h2>
						<div class="product-btns">
							<form action="/favorite_list/{{#if ../user}}{{../user.ID}}{{else}}0{{/if}}" method="GET">
								<input type="hidden" name="proID" value="{{ID}}">
								<input type="hidden" name="userID" value="{{../user.ID}}">
								<button type="submit" class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							</form>
							<button class="primary-btn add-to-cart"><i class="fas fa-shopping-cart"></i> Add
								to Cart</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Single -->
			{{/each}}

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- FOOTER -->
<!-- /FOOTER -->