<div id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <div class="category-nav">
                <span class="category-header">Cá nhân <i class="fas fa-list"></i></span>
                <ul class="category-list">
                    <li><a href="/account/{{user_id}}/profile">Hồ sơ</a></li>
                    <li><a href="/account/{{user_id}}/rating">Đánh giá</a></li>
                    <li><a href="/account/{{user_id}}/watch_list">Sản phẩm yêu thích</a></li>
                    <li><a href="/account/{{user_id}}/bidding_list">Tham gia đấu giá</a></li>
                    <li><a href="/account/{{user_id}}/won_list">Sản phẩm đã thắng</a></li>
                </ul>
            </div>

            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fas fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Sales</a></li>
                    <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true">Pages <i class="fas fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="product-page.html">Product Details</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>